<%_         for(let player of players){ _%>
                <div class="card d-inline-block m-2" style="width: 12rem;">
                    <img src="<%= player.img _%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= player.player_name _%></h5>
                    </div>
                </div>
<%_           } _%>